.first {
    background-image: url("https://www.gymwolf.com/img/exercises.jpg");
    font-size: 48px;
    height: 230px;
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* font-weight: 500; */
}
.text{

    width: 20%;
    height: 8%;
    padding: 100px;
    padding-left: 500px;
}
.ex_list > h1 {
    margin-left: 65px; font-weight: 600px;
}

.ex_images {
    display: flex;
    width: 93%;
    margin: 10px auto ;
}
.ex_images img {
    width : 350px;
    height: 340px;
    margin: 10px;
}
.ex_list > h1 , .head-table{
    text-align: center !important;
    padding: 20px !important;
    text-shadow: 2px 2px 2px #333 !important;
    font-size: 50px !important;
    color:  #041628 !important;

}
.images_workout {
    width: 100px;
    border: 1px solid #ddd;
}
tr:nth-child(even) {
 background-color: #f9f9f9;;
}
tr{ 
    height: 50px;
}
table {
    font-size: 14px;
    line-height: 1.428571429;
    border-collapse: collapse;
    border-spacing: 0;
    width: 85%;
    margin: 30px 150px 25px 100px;
}
td {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 1px solid #ddd;
}
td h3:nth-child(1) {
    color: #428bca;
}
td h3:nth-child(2) {
    color: #333;
}