body {
  margin-top: 0;
  padding: 0;
  margin: 0;
  color: #041628;
  overflow-x: hidden;
}
.clear {
  clear: both;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.in_video > div {
  margin-top: 350px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  clear: both;
}
.in_video {
  margin: 0;
  padding: 0;
}

.in_video > div > h1 {
  color: rgb(255, 255, 255);
  font-size: 65px;
  font-family: "Helvetica Neue";
  text-shadow: 2px 2px 4px #000000;
}

.in_video > div > button {
  width: 300px;
  text-align: center;
  font-size: 20px;
  padding: 16px 20px;
  color: rgb(255, 255, 255);
  height: 60px;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(38, 169, 225);
}
.in_video > div > button:hover {
  background-color: rgb(40, 123, 158);
}

.in_video > div > h4 {
  color: rgb(255, 255, 255);
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}
.in_video > div > h4:hover {
  text-decoration: underline;
}
.features_third {
  width: 100%;

  padding: 0;

  color: #041628;
}
#featureblue {
  margin: -10px;
}
.features_third > * {
  margin: 20px 20px;
}
.features_third > div {
  float: left;
  margin: 40px;
  margin-left: 10%;
}
.features_third > div:nth-child(2) {
  margin-top: 100px;
  float: right;
  margin-right: 150px;
}
.features_third h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  color: rgb(255, 255, 255);
  padding-top: 20px;
}
.features_third p {
  line-height: 28px;
  font-size: 20px;
}
.features_third button {
  background-color: #428bca;
  border: 1px solid #428bca;
  color: rgb(255, 255, 255);
  text-align: center;
  font-style: "Open Sans", sans-serif;
  border-radius: 6px;
  height: 60px;
  width: 300px;
  line-height: 26.6px;
  font-size: 20px;
}
.blue_button:hover {
  background-color: #333;
}
.features_third button:hover {
  background-color: #357ebd;
}
.features_third h1 {
  color: #041628;
}
.features_third {
  height: 380px;
  width: 102%;
  float: left;
}
.kg_page {
  background-color: #e6e7ea;
  width: 102%;
  height: 350px;
  float: left;
}
.nums {
  width: 600px;
  display: flex;
  margin: 110px auto 0px;
}
.nums > div {
  font-weight: 600;
  height: 50px;
  width: 50px;
  margin-left: 7px;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 37px;
  margin: 3px;
  background-color: white;
}
.kg_page > div:nth-child(2) {
  text-align: center;
  font-size: 22px;
  line-height: 1px;
  margin-top: 15px;
}

.footer {
  background-color: #26a9e1;
  font-size: 19px;
  height: 400px;
  float: left;
  font-weight: 400;
  width: 102%;
  color: #ffffff;
  display: flex;
}
.footer > div {
  width: 200px;
  margin: 40px;
}
.footer div div {
  margin: 20px;
  width: 100%;
}
.footer div div:hover {
  text-decoration: underline;
}
.footer div div:nth-child(1) {
  color: #041628;
}
.footer img {
  width: 134px;
  height: 42px;
}
.nav-bar {
  background-color: black;
  height: 80px;
  width: 102%;
  float: left;
  position: fixed;
  overflow: hidden;
  opacity: 0.7;
  top: 0px;
  color: rgb(255, 255, 255);
}

.nav-bar > * {
  float: left;
  opacity: 1;
  font-size: 22px;
  display: inline;
  margin: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0px 17px;
  font-size: 20px;
}
.nav-bar a:hover {
  color: rgb(38, 169, 225);
}
#nav_login {
  float: right;
  margin-right: 5%;
}
#signin,
#register {
  background-color: transparent;
  border: 0;
  outline: 0;
}
#loginPop {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: rgb(58, 58, 58);
}
#loginPop1 {
  display: none;
  position: fixed;
  height: 500px;
  width: 600px;
  margin: 10px;
  top: 0;
  left: 25%;
  background: white;
  opacity: 1000;
  border-radius: 10px;
}
#loginPop1 > div {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
#loginPop1 > div > div > input {
  margin: 8px;
  height: 40px;
  width: 80%;
  border: none;
  box-shadow: 1px 1px 2px grey, -1px -1px 2px grey;
  border-radius: 5px;
  outline-style: none;
}
#loginPop1 > div > p {
  color: #3276b1;
}
#SingIn {
  background-color: #3276b1;
  width: 60%;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}
#facebook {
  background-color: #3b5998;
  width: 60%;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}
#SingIn:hover {
  background-color: #4b7adf;
}
#facebook:hover {
  background-color: #304c8a;
}
#facebook > img {
  float: left;
  height: 30px;
  margin-top: 5px;
}
