body {
    background-color: darkgrey;
}

.sign_in {
    font-family: "Open Sans", sans-serif;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    height: 450px;
    border: 1px solid lightgray;
    margin: 50px auto;
}
.sign_in > *{
    margin: 12px;
}
.sign_in>input {
    padding: 8px;
    width: 42%;
    margin: 5px auto;
    border: 1px solid #ccc;
    color: #333
}
.sign_in>p {
    color: #428bca;
}
.sign_in>h1 {
    margin-top: 40px;
    font-weight: 200;
    color: #333;
}
.sign_in >a:nth-child(5) {
    width: 37%;
    background-color: #428bca ;
    border: #428bca;
    font-size: 17px;
    padding: 5px 12px;
    margin: 8px auto 15px;
    color: #ffffff;
    border-radius: 4px;
}
.sign_in>h2 {
    color: lightgray;
    font-size: large;
}
.sign_in a{
    color: #ffffff;
    background-color: #3b5998;
    border-color: #37528a;
    border-radius: 4px;
    height: 25px;
    font-size: 18px;
    padding: 6px 12px;
    text-decoration: none;
    width: 42%;
    margin: 0px auto;
}
.sign_in>h4 {
    color: #999;
    font-weight: 200;
}
