/*** start   progress page css by : Arshad Ali       ****/

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.progress_head {
  margin-top: 20px;
  background-color: #25a9e0;
  height: 230px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  display: flex;
  background-image: url("./progressHead.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}
.progress_container {
  display: flex;
  width: 85%;
  margin-right: 20px;
  margin-left: 100px;
}
.progress_left {
  width: 25%;
}
.progress_left > button {
  width: 100%;
  text-align: left;
  font-size: 14px;
  height: 45px;
  background-color: white;
  border: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  color: #25a9e0;
  border-radius: 5px;
}
.progress_left > button:hover {
  background-color: rgb(209, 208, 208);
}
.progress_left > button > img {
  height: 20px;

  margin-left: 10px;
}
.progress_left > button > div {
  width: 40px;
  height: 20px;
  background-color: #2ecc71;
  color: white;
  border-radius: 8px;
}
.progress_left > button > div > h6 {
  font-size: 15px;
  margin: 0;
  text-align: center;
  margin-top: 1px;
}
#progress_right > div {
  display: flex;
  justify-content: space-around;
  text-align: left;
}
#progress_right {
  width: 100%;
  margin-left: 20px;
}
#progress_right > h1 {
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(44, 44, 44);
}
#progress_right > h2 {
  margin: 20px;
  color: rgb(44, 44, 44);
}
.progress_input {
  height: 40px;
  width: 250px;
  box-shadow: 1px 1px 2px grey, -1px -1px 2px grey;
  border: 0;
}
#date {
  height: 40px;
  width: 250px;
  box-shadow: 1px 1px 2px grey, -1px -1px 2px grey;
  border: 0;
}
#group {
  height: 40px;
  width: 250px;
  box-shadow: 1px 1px 2px grey, -1px -1px 2px grey;
  border: 0;
}
hr {
  background-color: grey;
}
#nodata {
  text-align: center;
  padding-top: 100px;
}
.explaination {
  padding-top: 100px;
}
#des {
  margin: 20px;
  line-height: 30px;
}
.right_head {
  font-size: 50px;
}
.weight_max {
  display: flex;
  justify-content: center;
}
.weight_max > div > img {
  height: 120px;
}
.weight_max > div > p {
  text-align: center;
}

.max_gym > button {
  text-align: center;
  width: 60%;
  height: 50px;
  background-color: #2ecc71;
  margin: 20px auto;
  color: white;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 8px;
}
.max_gym > button:hover {
  background-color: #0b9243;
}
.max_des > p {
  font-size: 22px;
  text-align: center;
}
.max_more > button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
}
.max_more > button:hover {
  background-color: rgb(128, 127, 127);
}
.max_cloud {
  position: relative;
}
.max_cloud1 {
  display: none;
  position: absolute;
  top: 100px;
}
.max_cloud > img:hover ~ .max_cloud1 {
  display: block;
}
#triangle-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid grey;
  margin-left: 50px;
}
#rectangle {
  top: 100px;
  left: 20px;
  width: 120px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
}
#rectangle > div {
  width: 100%;
  background-color: rgb(182, 181, 181);
  margin-top: -16px;
}
#rectangle > div > p {
  text-align: center;
}
#rectangle > p {
  text-align: center;
  margin: 10px;
}
.max_chart {
  position: relative;
}
.max_chart1 {
  position: absolute;
  display: none;
  position: absolute;
  top: 100px;
}
.max_chart > img:hover ~ .max_chart1 {
  display: block;
}

.max_chart > p {
  text-align: center;
}
#max_advance > img {
  margin-top: 15px;
}
#max_calender > img {
  margin-top: 10px;
}

.footer {
  background-color: #26a9e1;
  font-size: 19px;
  height: 380px;
  margin-top: 40px;
  float: left;
  font-weight: 400;
  width: 102%;
  color: #ffffff;
  display: flex;
}
.footer > div {
  width: 200px;
  margin: 40px;
}
.footer div div {
  margin: 20px;
  width: 100%;
}
.footer div div:hover {
  text-decoration: underline;
}
.footer div div:nth-child(1) {
  color: #041628;
}
.footer img {
  width: 134px;
  height: 42px;
}
/*** End   progress page css by : Arshad Ali       ****/
#graph_container {
  height: 400px;
  width: 800px;
  position: absolute;
  top: 450px;
  left: 350px;
}

#para_graph > p {
  text-align: center;
  margin-top: 100px;
  margin-left: -400px;
}
#graph_container > select {
  border: none;
  outline: none;
  box-shadow: 1px 1px 1px 1px grey;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  margin-left: -40px;
}
.graph_line {
  width: 80%;
  position: absolute;
  top: 113px;
  right: 0;
}

.graph_line > p {
  margin: 0;
  padding: 0;
  font-size: 5px;
}
.graph_line > div {
  height: 25px;
}
.graph_Y {
  top: 80px;
  left: 80px;
  position: absolute;
  margin-top: 40px;
  margin-right: 10px;
}
.graph_Y > p {
  line-height: 25px;
  font-size: 15.5px;
  padding-right: 20px;
}
.graph_detail {
  position: absolute;
  top: 130px;
  right: 0px;
  width: 200px;
}
.graph_detail > div {
  display: flex;
}
.graph_detail > div > div {
  height: 25px;
  width: 25px;
  margin: 10px;
}
#weight_icon,
#bar1 {
  background-color: #4897f1;
}
#reps_icon,
#bar2 {
  background-color: #89a54e;
}
.graph_bars {
  position: absolute;
  top: 45px;
  right: -100px;
  display: flex;
  width: 600px;
  height: 300px;
  display: block;
}
.graph_bars > div {
  width: 50px;
  height: 200px;
  margin: 10px;
  background-color: blue;
}
.bars li {
  display: table-cell;
  width: 120px;
  height: 300px;
  position: relative;
}

.bars .bar {
  display: block;
  width: 100px;
  margin-left: 10px;
  position: absolute;
  bottom: 0;
  margin-left: 25px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
  transition: 0.5s;
  transition-property: background, box-shadow;
}

.bars .bar:before {
  color: #fff;
  content: attr(data-percentage) "%";
  position: relative;
  bottom: 20px;
}
.nav_bar {
  min-width: 100%;
  height: 80px;
  background-color: rgb(4, 22, 40);
  display: flex;
  position: fixed;
  top: 0;
}

.logo_of_gymwolf {
  width: 150px;
  height: 40px;
  margin-left: 130px;
  margin-top: 20px;
}

.first_link {
  margin-left: 5%;
  color: white;
  margin-top: 1.5%;
  font-size: 1.4em;
  text-decoration: none;
}

.first_link:hover,
.second_link:hover,
.third_link:hover,
.fourth_link:hover,
.fifth_link:hover,
#message:hover,
.search_bar:hover {
  color: rgb(37, 168, 223);
}

.second_link,
.third_link,
.fourth_link,
.fifth_link,
#message {
  margin-left: 3%;
  color: white;
  margin-top: 1.5%;
  font-size: 1.4em;
  text-decoration: none;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  margin-top: 9%;
  /* margin-left: 5%; */
  cursor: pointer;
}

.dropbtn:hover {
  color: rgb(37, 168, 223);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search_bar {
  background-color: rgb(4, 22, 40);
  color: white;
  margin-top: 1.8%;
  margin-left: 1%;
}
